body .js-console input {
  background-color: black;
  font-family: Consolas;
  font-size: 18px;
  color: white;
  border: none;
}
textarea:focus, input:focus{
    outline: 0;
}
.info{
	font-style:italic
}