body{
	background: #fff;
}
#container{
	width: 200px;
}
#container #display{
	background: url(images/bottom_arrow.png) center right no-repeat;
	border: 1px dashed #D4DBED;
}
#container #display .person-item{
	border: 1px dashed #D4DBED;
}

#combo-wrapper .hovered{
	background: #ccc;
}

.person-item{
	border: 1px solid #333;
}
.person-item img{
	height: 40px;
	width: auto;
}
